@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin min-sm {
  @media (max-width: 429px) {
    @content;
  }
}

@mixin hover($hasOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}
