mixin marquee()
  .hero-marquee-list(data-aos="fade-up")
    .hero-marquee-track
      .hero-marquee-item
        include ../../media/images/marquee-1.svg
      .hero-marquee-item
        include ../../media/images/marquee-2.svg
      .hero-marquee-item
        include ../../media/images/marquee-3.svg
    .hero-marquee-track
      .hero-marquee-item
        include ../../media/images/marquee-4.svg
      .hero-marquee-item
        include ../../media/images/marquee-5.svg
      .hero-marquee-item
        include ../../media/images/marquee-6.svg