@use '../variables' as var;
@use '../helpers' as mix;

.accordion {
  display: flex;
  flex-direction: column;
  @include mix.fluid(gap, 30, 20);
}

.accordion-item {
  border-radius: var.$radius-xl;
  border: 1px solid var.$color-dark;
  box-shadow: 0px 5px 0px 0px var.$color-dark;
  overflow: hidden;
  transition: var.$transition-base;

  @include mix.hover {
    background-color: var.$color-accent;

    .accordion-button-icon {
      background-color: var.$color-gray;
    }
  }

  &:focus-within {
    background-color: var.$color-accent;

    .accordion-button-icon {
      background-color: var.$color-gray;
    }
  }

  &.active {
    background-color: var.$color-accent;

    .accordion-button-icon {
      background-color: var.$color-gray;
    }
  }
}

.accordion-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: var.$transition-base;
  border-top: 1px solid transparent;
  @include mix.fluid(margin-inline, 60, 30);

  &.open {
    grid-template-rows: 1fr;
    @include mix.fluid(padding-top, 30, 20);
    @include mix.fluid(padding-bottom, 50, 20);
    border-color: var.$color-dark;
  }
}

.accordion-body {
  overflow: hidden;
}

.accordion-button-title {
  display: flex;
  align-items: center;
  @include mix.fluid(gap, 25, 12);
}

.accordion-title {
  font-weight: 500;
  @include mix.fluid(font-size, 30, 18);
}

.accordion-counter {
  font-weight: 500;
  @include mix.fluid(font-size, 60, 30);
}

.accordion-button-icon {
  @include mix.fluid(width, 58, 30);
  @include mix.fluid(height, 58, 30);
  border-radius: 50%;
  border: 1px solid var.$color-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  transition: var.$transition-base;
}

.accordion-button-main,
.accordion-button-active {
  @include mix.abs-center();
  transition: var.$transition-base;
}

.accordion-button-main {
  svg {
    @include mix.fluid(width, 25, 13);
    @include mix.fluid(height, 25, 13);
  }
}

.accordion-button-active {
  transform: scale(0);

  svg {
    @include mix.fluid(width, 18, 13);
    @include mix.fluid(height, 6, 3);
  }
}

.accordion-text {
  line-height: 1.3;
}

.accordion-button {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  @include mix.fluid(padding-block, 39, 30);
  @include mix.fluid(padding-inline, 60, 30);
  gap: 12px;
  line-height: 1.3;

  &.active {
    padding-bottom: 30px;

    .accordion-button-main {
      transform: scale(0);
    }

    .accordion-button-active {
      transform: scale(1);
    }
  }

  @include mix.min-sm {
    padding-inline: 20px;
  }
}
