@use '../variables' as var;
@use '../helpers' as mix;

.footer-wrapper {
  background-color: var.$color-dark;
  border-top-left-radius: var.$radius-xl;
  border-top-right-radius: var.$radius-xl;
  @include mix.fluid(padding-top, 55, 50);
  @include mix.fluid(padding-bottom, 50, 30);
  @include mix.fluid(padding-inline, 60, 20);

  @include mix.md {
    border-radius: unset;
    margin-inline: calc(var.$container-padding-x * -1);
  }
}

.footer-main {
  @include mix.lg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    padding-bottom: 37px;
    border-bottom: 1px solid var.$color-white;
  }
}

.footer-logo {
  svg {
    @include mix.fluid(width, 180, 144);
    @include mix.fluid(height, 29, 24);
  }

  svg path {
    fill: var.$color-white;
  }

  &:focus-visible {
    outline: none;
    opacity: 0.6;
  }
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 66px;

  @include mix.lg {
    display: contents;
  }
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 20px;

  @include mix.lg {
    order: 10;
  }
}

.footer-contacts {
  max-width: 332px;
  color: var.$color-white;
  display: flex;
  flex-direction: column;
  gap: 26px;

  @include mix.lg {
    align-items: center;
  }
}

.footer-col {
  @include mix.lg {
    text-align: center;
  }
}

.footer-title {
  padding-inline: 7px;
  background-color: var.$color-accent;
  display: inline-block;
  border-radius: var.$radius-s;
  margin-bottom: 30px;
  line-height: 1.2;
}

.footer-email,
.footer-phone {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer-address {
  font-style: normal;
}

.footer-middle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
  padding-bottom: 50px;
  border-bottom: 1px solid var.$color-white;

  @include mix.lg {
    display: contents;
  }
}

.footer-bottom {
  @include mix.fluid(padding-top, 50, 36);
  color: var.$color-white;
  display: flex;
  align-items: center;
  @include mix.fluid(gap, 40, 15);

  @include mix.lg {
    justify-content: center;
  }

  @include mix.md {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}

.footer-policy {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var.$color-white;
    left: 0;
    bottom: 0;
    transition: var.$transition-base;
  }

  @include mix.hover {
    color: var.$color-accent;

    &::before {
      background-color: var.$color-accent;
      width: 50%;
    }
  }

  &:focus-visible {
    outline: none;
    color: var.$color-accent;

    &::before {
      background-color: var.$color-accent;
      width: 50%;
    }
  }
}

.footer-email-link,
.footer-email-link {
  @include mix.hover {
    color: var.$color-accent;
  }

  &:focus-visible {
    outline: none;
    color: var.$color-accent;
  }
}

.footer-socials-link {
  @include mix.hover {
    svg {
      transform: translateY(-2px) scale(1.1);
    }
  }

  &:focus-visible {
    outline: none;

    svg {
      transform: translateY(-2px) scale(1.1);
    }
  }
}
