@use '../variables' as var;
@use '../helpers' as mix;

.nav-list {
  display: flex;
  align-items: center;
  @include mix.fluid(column-gap, 32, 4);
  flex-wrap: wrap;
  row-gap: 6px;
}

.nav-link {
  @include mix.fluid(font-size, 20, 16);
  line-height: 1.4;
  padding-inline: 4px;
  border-radius: var.$radius-s;

  @include mix.hover {
    background-color: var.$color-accent;
  }

  &:focus-visible {
    outline: none;
    background-color: var.$color-accent;
  }
}

.nav-footer-list {
  display: flex;
  align-items: center;
  @include mix.fluid(gap, 40, 15);

  @include mix.sm {
    flex-direction: column;
  }
}

.nav-footer-link {
  @include mix.fluid(font-size, 18, 16);
  color: var.$color-white;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-color: var.$color-white;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    transition: var.$transition-base;
  }

  @include mix.hover {
    color: var.$color-accent;

    &::before {
      background-color: var.$color-accent;
      width: 50%;
    }
  }

  &:focus-visible {
    outline: none;
    color: var.$color-accent;

    &::before {
      background-color: var.$color-accent;
      width: 50%;
    }
  }
}

.nav-mobile {
  margin-bottom: 40px;
}

.nav-mobile-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.nav-mobile-link {
  font-weight: 500;
  font-size: 20px;
}
