@use '../variables' as var;
@use '../helpers' as mix;

.reviews-slider {
  border-radius: var.$radius-xl;
  background-color: var.$color-dark;
  @include mix.fluid(padding-top, 84, 30);
  @include mix.fluid(padding-bottom, 60, 60);

  @include mix.md {
    padding-inline: 30px;
  }

  .swiper-actions {
    max-width: 564px;
    margin-inline: auto;
    justify-content: space-between;
  }

  .swiper-slide-active {
    @include mix.hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }

  .swiper-slide {
    &:first-child {
      .reviews-slide {
        margin-left: var.$container-padding-x;

        @include mix.md {
          margin-left: unset;
        }
      }
    }

    &:last-child {
      .reviews-slide {
        margin-right: var.$container-padding-x;

        @include mix.md {
          margin-right: unset;
        }
      }
    }
  }

  @include mix.min-sm {
    padding-inline: 20px;
  }
}

.reviews-text {
  line-height: 1.3;
}

.reviews-body {
  min-height: 237px;
  border: 1px solid var.$color-accent;
  border-radius: var.$radius-xl;
  @include mix.fluid(padding-block, 48, 30);
  @include mix.fluid(padding-inline, 52, 30);
  color: var.$color-white;
  @include mix.fluid(margin-bottom, 58, 44);
  position: relative;

  &::before {
    position: absolute;
    content: '';
    @include mix.square(40px);
    border: 1px solid var.$color-accent;
    top: 100%;
    left: 50px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    transform: translate(0, -50%) rotate(45deg);
    background-color: var.$color-dark;
    z-index: 2;
  }
}

.reviews-swiper {
  @include mix.fluid(margin-bottom, 90, 60);
}

.reviews-name {
  color: var.$color-accent;
}

.reviews-job {
  color: var.$color-white;
}

.reviews-info {
  padding-left: calc(50px + (40px / 2));
}
