@use '../variables' as var;
@use '../helpers' as mix;

.title-row {
  display: flex;
  align-items: center;
  @include mix.fluid(margin-bottom, 80, 40);
  @include mix.fluid(gap, 40, 30);

  @include mix.md {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.subtitle {
  @include mix.fluid(font-size, 18, 16);
  max-width: 580px;
  line-height: 1.3;

  &.subtitle-min {
    max-width: 290px;
    text-wrap: unset;
  }

  @include mix.sm {
    line-height: 1.5;
  }
}
