include components/_head.pug

include components/_header.pug
include components/_nav.pug
include components/_button.pug
include components/_title-row.pug
include components/_marquee.pug
include components/_services.pug
include components/_case.pug
include components/_accordion.pug
include components/_team.pug
include components/_reviews.pug
include components/_main-form.pug
include components/_subscribe-form.pug
include components/form-field/_form-input.pug
include components/form-field/_form-textarea.pug
include components/form-field/_form-choice-group.pug
include components/_footer.pug