-
  const project = {
    title: 'Positivus',
    description: 'Navigating the digital landscape for success',
    generalCss: [
      'css/styles.css'
    ],
    generalJs: [
      'js/scripts.js'
    ],
    pages: {
      index: {
        description: 'Navigating the digital landscape for success',
        title: 'Home page',
        css: [
          'css/libs/swiper-bundle.min.css',
          'https://unpkg.com/aos@2.3.1/dist/aos.css'
        ],
        js: [
          'js/sliders.js',
          'js/libs/swiper-bundle.min.js',
          'https://unpkg.com/aos@2.3.1/dist/aos.js'
        ]
      }
    }
  }