-
  const accordion = [
    {
      title: 'Consultation',
      body: 'During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.',
      id: 'accordion-1',
      buttonId: 'accordion-button-1',
      expanded: true,
    },
    {
      title: 'Research and Strategy Development',
      body: 'During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.',
      id: 'accordion-2',
      buttonId: 'accordion-button-2',
    },
    {
      title: 'Implementation',
      body: 'During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.',
      id: 'accordion-3',
      buttonId: 'accordion-button-3',
    },
    {
      title: 'Monitoring and Optimization',
      body: 'During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.',
      id: 'accordion-4',
      buttonId: 'accordion-button-4',
    },
    {
      title: 'Reporting and Communication',
      body: 'During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.',
      id: 'accordion-5',
      buttonId: 'accordion-button-5',
    },
    {
      title: 'Continual Improvement',
      body: 'During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.',
      id: 'accordion-6',
      buttonId: 'accordion-button-6',
    },
    
  ]