-
  const services = [
    {
      title: 'Search engine',
      subtitle: 'optimization',
      img: 'media/images/services-1.png',
      href: '#!',
      alt: 'services-1',
      background: 'services-card--light'
    },
    {
      title: 'Pay-per-click',
      subtitle: 'advertising',
      img: 'media/images/services-2.png',
      href: '#!',
      alt: 'services-2',
      background: 'services-card--accent'
    },
    {
      title: 'Social Media',
      subtitle: 'Marketing',
      img: 'media/images/services-3.png',
      href: '#!',
      alt: 'services-3',
      background: 'services-card--dark'
    },
    {
      title: 'Email',
      subtitle: 'Marketing',
      img: 'media/images/services-4.png',
      href: '#!',
      alt: 'services-4',
      background: 'services-card--light'
    },
    {
      title: 'Content',
      subtitle: 'Creation',
      img: 'media/images/services-5.png',
      href: '#!',
      alt: 'services-5',
      background: 'services-card--accent'
    },
    {
      title: 'Analytics and ',
      subtitle: 'Tracking',
      img: 'media/images/services-6.png',
      href: '#!',
      alt: 'services-6',
      background: 'services-card--dark'
    },
  ]