-
  const team = [
    {
      name: 'John Smith',
      job: 'CEO and Founder',
      experience: '10+ years of experience in digital marketing. Expertise in SEO, PPC, and content strategy',
      img: 'media/images/team-1.png',
      alt: 'team-1',
      href: '#!'
    },
    {
      name: 'Jane Doe',
      job: 'Director of Operations',
      experience: '7+ years of experience in project management and team leadership. Strong organizational and communication skills',
      img: 'media/images/team-2.png',
      alt: 'team-2',
      href: '#!'
    },
    {
      name: 'Michael Brown',
      job: 'Senior SEO Specialist',
      experience: '5+ years of experience in SEO and content creation. Proficient in keyword research and on-page optimization',
      img: 'media/images/team-3.png',
      alt: 'team-3',
      href: '#!'
    },
    {
      name: 'Emily Johnson',
      job: 'PPC Manager',
      experience: '3+ years of experience in paid search advertising. Skilled in campaign management and performance analysis',
      img: 'media/images/team-4.png',
      alt: 'team-4',
      href: '#!'
    },
    {
      name: 'Brian Williams',
      job: 'Social Media Specialist',
      experience: '4+ years of experience in social media marketing. Proficient in creating and scheduling content, analyzing metrics, and building engagement',
      img: 'media/images/team-5.png',
      alt: 'team-5',
      href: '#!'
    },
    {
      name: 'Sarah Kim',
      job: 'Content Creator',
      experience: '2+ years of experience in writing and editing Skilled in creating compelling, SEO-optimized content for various industries',
      img: 'media/images/team-6.png',
      alt: 'team-6',
      href: '#!'
    },
    {
      name: 'Emily Johnson',
      job: 'PPC Manager',
      experience: '3+ years of experience in paid search advertising. Skilled in campaign management and performance analysis',
      img: 'media/images/team-4.png',
      alt: 'team-4',
      href: '#!'
    },
    {
      name: 'Brian Williams',
      job: 'Social Media Specialist',
      experience: '4+ years of experience in social media marketing. Proficient in creating and scheduling content, analyzing metrics, and building engagement',
      img: 'media/images/team-5.png',
      alt: 'team-5',
      href: '#!'
    },
    {
      name: 'Sarah Kim',
      job: 'Content Creator',
      experience: '2+ years of experience in writing and editing Skilled in creating compelling, SEO-optimized content for various industries',
      img: 'media/images/team-6.png',
      alt: 'team-6',
      href: '#!'
    },
    
  ]