@use './variables' as var;
@use './helpers' as mix;

.logo {
  svg {
    @include mix.fluid(width, 220, 144);
    @include mix.fluid(height, 56, 24);
  }

  &:focus-visible {
    opacity: 0.5;
    outline: none;
  }
}

.hero-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;

  @include mix.md {
    flex-direction: column;
    gap: unset;
  }
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  @include mix.fluid(padding-top, 70, 40);
  @include mix.fluid(padding-bottom, 70, 60);

  @include mix.md {
    .btn {
      @include mix.md {
        order: 4;
      }
    }
  }
}

.hero-col {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mix.md {
    display: contents;
  }
}

.hero-img {
  max-width: 600px;

  @include mix.lg {
    max-width: 50%;
  }

  @include mix.md {
    max-width: unset;
    order: 2;
    margin-bottom: 10px;
  }
}

.hero-title {
  @include mix.fluid(margin-bottom, 35, 10);
}

.hero-subtitle {
  margin-bottom: 38px;
  @include mix.fluid(font-size, 20, 16);
  line-height: 1.3;
  max-width: 498px;

  @include mix.md {
    margin-bottom: 40px;
    order: 3;
    line-height: 1.4;
  }
}

.hero-marquee-list {
  justify-content: space-between;
  display: flex;
  gap: 12px;

  @include mix.lg {
    flex-direction: column;
    overflow: hidden;
  }

  @include mix.sm {
    margin-inline: calc(var.$container-padding-x * -1);
    gap: 20px;
  }
}

.hero-marquee-track {
  display: contents;

  @include mix.lg {
    display: flex;
    justify-content: space-around;
    gap: 12px;
  }

  @include mix.sm {
    animation: marquee 4s linear infinite;

    &:nth-child(2) {
      animation-delay: 1s;
    }
  }
}

.hero-marquee-wrapper {
  overflow: hidden;
}

.hero-marquee-item {
  display: inline-block;

  svg {
    filter: grayscale(1);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.free-quote-img {
  max-width: 359px;
  max-height: 394px;
  margin-block: calc(24px * -1);

  @include mix.lg {
    max-width: 290px;
  }

  @include mix.md {
    display: none;
  }
}

.free-quote {
  background-color: var.$color-gray;
  border-radius: var.$radius-xl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mix.fluid(padding-right, 135, 12);

  @include mix.md {
    padding-right: 0;
  }
}

.free-quote-col {
  padding: 60px 0 60px 60px;
  max-width: calc(500px + 60px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include mix.fluid(gap, 26, 20);

  .h3 {
    line-height: 1.3;
  }

  @include mix.md {
    padding: 50px;
  }

  @include mix.min-sm {
    padding: 30px;
  }

  @include mix.md {
    max-width: unset;
  }
}

.free-quote-subtitle {
  line-height: 1.2;
}

.swiper-button-prev,
.swiper-button-next {
  left: unset !important;
  right: unset !important;
  margin-top: unset !important;
  width: 40px !important;
  height: 40px !important;
  position: static !important;

  svg {
    @include mix.square(23px);
  }

  @include mix.hover {
    svg path {
      fill: var.$color-accent;
    }
  }

  &:focus-visible {
    outline: none;

    svg path {
      fill: var.$color-accent;
    }
  }
}

.swiper-pagination {
  left: unset !important;
  bottom: unset !important;
  top: unset !important;
  position: static;
  width: unset !important;
  display: flex;
  gap: 20px;
}

.swiper-actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 12px;
}

.swiper-pagination-bullet {
  margin: unset !important;
  width: 14px !important;
  height: 14px !important;
  background: var.$color-white !important;
  clip-path: polygon(
    50% 20%,
    100% 0,
    80% 50%,
    100% 100%,
    50% 80%,
    0 100%,
    20% 50%,
    0 0
  );
  border-radius: unset !important;
  opacity: 1 !important;
  transition: var.$transition-base;

  @include mix.hover {
    transform: scale(1.2);
  }

  &:focus-visible {
    outline: none;
    transform: scale(1.2);
  }
}

.swiper-pagination-bullet-active {
  background: var.$color-accent !important;
}
