@use 'helpers' as mix;
@use 'variables' as var;

html {
  height: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var.$color-white;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  font-family: var.$font-family-base;
  @include mix.fluid(padding-top, 60, 30);
  color: var.$color-black;
}

main {
  flex-grow: 1;
}

h1,
.h1 {
  font-weight: 500;
  @include mix.fluid(font-size, 60, 43);
  line-height: 1.3;
}

h2,
.h2 {
  font-weight: 500;
  @include mix.fluid(font-size, 40, 36);
  padding-inline: 7px;
  background-color: var.$color-accent;
  border-radius: var.$radius-s;
  display: inline-block;
  line-height: 1.3;
}

h3,
.h3 {
  font-weight: 500;
  @include mix.fluid(font-size, 30, 26);
}

h4,
.h4 {
  font-weight: 500;
  @include mix.fluid(font-size, 20, 18);
}

section {
  @include mix.fluid(margin-bottom, 140, 60);

  &.services {
    @include mix.fluid(margin-bottom, 162, 60);
  }

  &.team {
    @include mix.fluid(margin-bottom, 96, 60);
  }
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

a,
button,
label,
input,
textarea,
select,
svg,
svg * {
  transition: var.$transition-base;
}
