body {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

svg {
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
textarea {
  font-family: inherit;
}
